KerckhoffsPrincipleHelper/KerckhoffsPrincipleHelper/obj/
KerckhoffsPrincipleHelper/.vs/
KerckhoffsPrincipleHelper/KerckhoffsPrincipleHelper/Properties/Resources.Designer.cs
KerckhoffsPrincipleHelper/KerckhoffsPrincipleHelper/Properties/Resources.resx
